body{
    margin: 0;
    background-image: url(/images/blackjackimg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
}

h1{
    color: goldenrod;
    font-weight: bolder;
    font-size: 80px;
}

.paragraph{
    font-size: 20px;
}

.message-el{
    font-size: 30px;
}


button{
    padding: 10px 35px;
    background-color: goldenrod;
    border: none;
    color: #06402B;
    font-weight: bold;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 9px #399;
}

button:hover{
    background-color: gold;
}

button:active{
    background-color: gold;
    box-shadow: 0 5px #666;
    transform: translateY(3px);
}

.text{
    font-style: italic;
    font-size: 20px;
}